@use '../../styles/tokens' as *;

.card {
  font-size: $font-size-small;
  border: 2px solid $blue-100;
  padding: $space-4;
  border-radius: $border-radius-base;
  box-shadow: 2px 2px 8px 4px rgb(15 15 15 / 5%);

  h2 {
    font-size: $font-size-large;
  }
}
