@use '../../styles/tokens' as *;

.container {
  position: relative;
}

.form {
  position: relative;
  border-radius: $border-radius-base;
  box-shadow: 2px 2px 8px 4px rgb(15 15 15 / 10%);

  &.formHeader {
    box-shadow: none;
    max-width: 400px;
    flex-grow: 1;
  }
}

.input {
  font-size: $font-size-xlarge;
  height: $space-12;
  padding: $space-3 $space-12 $space-3 $space-4;
  border-radius: $border-radius-base;
  border: 1px solid $grey-400;
  width: 100%;
  color: $grey-700;

  &.open {
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  &:focus {
    outline: 4px solid $blue-300;
  }

  .formHeader & {
    font-size: $font-size-large;
    height: $space-10;
    padding: $space-2 $space-10 $space-2 $space-3;
  }
}

// stylelint-disable selector-pseudo-class-no-unknown, selector-no-vendor-prefix, no-descending-specificity
.input::-webkit-input-placeholder {
  font-size: $font-size-base;
}

.input::-moz-placeholder {
  font-size: $font-size-base;
}

.input:-ms-input-placeholder {
  font-size: $font-size-base;
}

.input:-moz-placeholder {
  font-size: $font-size-base;
}
// stylelint-enable selector-pseudo-class-no-unknown, selector-no-vendor-prefix, no-descending-specificity

.submit {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-color: transparent;
  width: $space-12;
  height: $space-12;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 $border-radius-base $border-radius-base 0;
  transition: background-color $transition-time-fast $transition-ease,
    color $transition-time-fast $transition-ease;
  color: $grey-700;

  &:hover,
  &:focus {
    background-color: $blue-300;
    color: $white;
  }

  .formHeader & {
    width: $space-10;
    height: $space-10;
  }
}

.results {
  max-height: calc(16rem + 1px);
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid $grey-400;
  border-top: 0;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  background-color: $white;
}

.result {
  cursor: default;
  padding: $space-2 $space-4;

  &:not(:first-child) {
    border-top: 1px solid $grey-300;
    padding-top: calc(#{$space-2} - 1px);
  }

  &[aria-selected='true'] {
    background-color: $blue-100;
  }
}

.packageName {
  font-weight: 700;
}

.packageDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
