@use 'reset' as *;
@use 'visually-hidden' as *;
@use 'fonts';

@use 'links';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  font-family: Fraunces, Georgia, serif;
}
