@use 'tokens' as *;

@use 'reset' as *;
@use 'visually-hidden' as *;
@use 'fonts';

@use 'links';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-text;
}

h1,
h2,
h3 {
  font-family: $font-display;
}
