@use 'tokens' as *;

@use 'reset' as *;
@use 'visually-hidden' as *;
@use 'fonts';

@use 'links';

@use 'utilities' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-text;
}

h1,
h2,
h3 {
  font-family: $font-display;
  line-height: 1;
}

h3 {
  font-size: $font-size-large;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
